body {
    background-image: url("img2.jpg");
    background-size: 100%;
      }

fieldset {
    width: 478px;
    height: auto;
    text-align: center;
    background-color: whitesmoke;
    margin-top: 200px;
    margin-left: 330px;
    border-style: groove;
    border-color: black;
    box-shadow: 5px 10px;
}

h1{
    font-family: "Sofia";
}
.fontstyle{
    font-family: Georgia;
    font-weight: bold;
}